@media (max-width: 720px) {
    .cabecalho {
        flex-direction: column;
        gap: 100px;
    }
    
    .logo h2 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        gap: 50px;
    }

    .menu li:last-child {
        padding-top: 20px;
    }

    .menu li a {
        font-size: 40px;
        padding: 17px 38px;
    }
    
    .menu li a.cadastro {
        font-size: 18px;
        margin: 0;
        padding: 15px 23px;
    }
}